@page "/"
<body class="bg-orange-400">
    <div class="xsm:w-full mx-auto">
       
        <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 mt-4 w-full">
            <section class="mx-auto py-15">

                <div class="card bg-white flex-col items-center justify-center p-4 shadow-xl rounded-2xl w-64">
                    <h4 class="font-black text-2xl py-5">VENTAS</h4>
                    <div class="cover">
                        <img src="css/img/Salesman_Two Color.svg" width="200" alt="">
                    </div>
                    <div class="w-full mt-4">
                        <a href="#" class="xl:text-base my-4 inline-block py-2 px-7 bg-green-500 text-white font-black border-transparent border-8 rounded-3xl hover:border-gray-200 hover:bg-white hover:text-black transition duration-200 group">
                            Realizar venta
                            <span class="w-4 h-4 inline-block border-orange-300 border-solid border-t-[5px] border-r-[5px] transition-all transform rotate-45 group-hover:border-red-500 xl:group-hover:ml-4"></span>
                        </a>
                    </div>
                </div>

            </section>
            <section class="mx-auto py-18">

                <div class="card bg-white flex flex-col items-center justify-center p-4 shadow-xl rounded-2xl w-64">
                    <h4 class="font-black text-2xl py-5">INVENTARIOS</h4>
                    <div class="cover">
                        <img src="css/img/Data maintenance_Flatline.svg" width="200" alt="">
                    </div>
                    <div class="w-full mt-4">
                        <a href="#" class="xl:text-base my-4 inline-block py-2 px-7 bg-green-500 text-white font-black border-transparent border-8 rounded-3xl hover:border-gray-200 hover:bg-white hover:text-black transition duration-200 group">
                            Control
                            <span class="w-4 h-4 inline-block border-orange-300 border-solid border-t-[5px] border-r-[5px] transition-all transform rotate-45 group-hover:border-red-500 xl:group-hover:ml-4"></span>
                        </a>
                    </div>
                </div>

            </section>
            <section class="mx-auto py-18 m-8">

                <div class="card bg-white flex flex-col items-center justify-center p-4 shadow-xl rounded-2xl w-64">
                    <h4 class="font-black text-2xl py-5">Trabajadores</h4>
                    <div class="cover">
                        <img src="css/img/User Group_Outline.svg" width="200" alt="">
                    </div>
                    <div class="w-full mt-4">
                        <a href="#" class="xl:text-base my-4 inline-block py-2 px-7 bg-green-500 text-white font-black border-transparent border-8 rounded-3xl hover:border-gray-200 hover:bg-white hover:text-black transition duration-200 group">
                            Trabajadores
                            <span class="w-4 h-4 inline-block border-orange-300 border-solid border-t-[5px] border-r-[5px] transition-all transform rotate-45 group-hover:border-red-500 xl:group-hover:ml-4"></span>
                        </a>
                    </div>
                </div>

            </section>
            <section class="mx-auto py-18 m-8">

                <div class="card bg-white flex flex-col items-center justify-center p-4 shadow-xl rounded-2xl w-64">
                    <h4 class="font-black text-2xl py-5">Configuracion</h4>
                    <div class="cover">
                        <img src="css/img/Settings_Flatline.svg" width="200" alt="">
                    </div>
                    <div class="w-full mt-4">
                        <a href="#" class="xl:text-base my-4 inline-block py-2 px-7 bg-green-500 text-white font-black border-transparent border-8 rounded-3xl hover:border-gray-200 hover:bg-white hover:text-black transition duration-200 group">
                            Abrir
                            <span class="w-4 h-4 inline-block border-orange-300 border-solid border-t-[5px] border-r-[5px] transition-all transform rotate-45 group-hover:border-red-500 xl:group-hover:ml-4"></span>
                        </a>
                    </div>
                </div>

            </section>
        </div>
    </div>
</body>

@code {

}
